---
layout: default
---
<div class="front">
  <div class="col-sm-3">
    <div class="sidenav">
      {% include search.html %}
    </div>
  </div>

  <div class="col-sm-9 col-md-7">
    {% for category in site.data-categories %}
      <section class="category row">
        <h2>{{ category }}</h2>

        {% assign articles = site.articles | where: 'category', category %}
        {% assign articles = articles | sort: 'weight' %}
        {% for article in articles %}
          <div class="article">
            <h3>
                <a class="post-link" href="{{ site.baseurl }}{{ article.url | prepend: article.baseurl }}">{{ article.title }}</a>
            </h3>
            <p>{{ article.intro }}</p>
          </div>
        {% endfor %}
      </section>
    {% endfor %}
  </div>
</div>
